* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  width: 98%;
  height: max-content;
  border: 1px solid black;
  margin: auto;


}

/* navbar  */
.mainHead {
  width: 100%;

  padding-bottom: 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid black;
  /* background-color: aqua; */
}

#sh {
  text-transform: capitalize
}

hr {
  width: 80%;
  margin: auto;
  padding: 0.5px;
  background-color: black;
}

.right-box {
  width: 250px;
  height: max-content;
  border: 1px solid black;
  position: absolute;
  top: 3px;
  right: 18px;
 
}

.right-txt {
  width: 100%;
  height: 25px;
 margin-top: 1%;
}
.right-txtdate{
 
  margin-top: 1rem;
}
.right-date input{
margin-left: 1.5rem;
width: 10rem;
text-align: center;
}
.err {
  color: red;
  width: 98%;
  text-align: center;
  margin: auto;
  /* background-color: black; */
  font-size: smaller;
 
}


/* photo  */

.photo {
  width: 10%;
  height: 20%;
  margin-top: 2%;
  border: 2px solid black;
  position: absolute;
  right: 1%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

}

/* .........  */
/* form styling  */

.form-main {

  width: 100%;
  height: auto;

}

ol {
  /* background-color: aqua; */
  width: 97%;
  height: auto;
  margin: auto;
}

.fomInfo {
  /* background-color: rebeccapurple; */
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
  margin-top: 2%;
  font-weight: 600;


}

/* .formLabel {
  background-color: green;

} */

.nameInput {
  /* background-color: blue; */
  width: 30%;
  position: relative;
}

.nameInput input {
  width: 100%;
  padding: 3px 3px;
  text-transform: uppercase;
}

.errors {
  color: red;
  font-weight: 400;
  font-size: medium;
  position: absolute;
  top: 1.4rem;
  text-align: center;
}


.fomInfoTwo {

  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.common {

  width: 100%;
  display: flex;
  align-items: center;
}

.formInput {
  /* background-color: brown; */
  margin-left: 5%;
  width: 50%;
  position: relative;
}

.formInput input {
  padding: 3px 3px;
  width: 100%;
}





/* media qureis  */

/* Styles for mobile devices (portrait and landscape) */
@media only screen  and (max-width: 767px) {

  /* Your mobile styles here */
  .container{
  width: 98%;
  }
/* .mainHead{
  background-color: aqua;

} */
.mainHead h1,h4, h5{
  font-size: small;
  font-weight: 600;

}
  
.photo{
  display: none;
}
  .form-main{
    /* background-color: rgb(249, 214, 214); */
    width: 96%;
    margin: auto;
    font-size: small;
  }

  .nameInput input{
    padding: 1px 1px;
    width: 15rem;
   }

  /* .fomInfo{
    background-color: aqua;
  } */
  .fomInfoTwo{
    /* background-color: #fff; */
    width: 100%;
    gap: 2%;
  }
 .formLabel{
  /* background-color: blanchedalmond; */
  width: 9.5rem;
 }
 
 .formInput input{
  /* background-color: rebeccapurple; */
  padding: 0.5px 0.5px;

 }

 .errors {
  color: red;
  font-weight: 200;
  font-size: smaller;
  position: absolute;
  top: 1.2rem;
  text-align: center;
}

}

/* Styles for tablets (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  /* Your tablet styles here */
  body {
    font-size: 16px;
  }
}